.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
}

.switch-checkbox {
  display: none;
}

.switch-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s ease-in-out;
}

.switch-label:before {
  content: '';
  position: absolute;
  left: 4px;
  bottom: 4px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.switch-checkbox:checked + .switch-label {
  background-color: #6abf63;
}

.switch-checkbox:checked + .switch-label:before {
  transform: translateX(28px);
}
